<div class="registration_new">
  <%= render "shared/header" %>
  <div class="">
    <div class="">
      <h2 class="">ユーザー新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="registration_new_content">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, id:"" %>
        </div>

        <div class="registration_new_content">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="registration_new_content">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"", autocomplete: "new-password" %>
        </div>

        <div class="registration_new_content">
          <%= f.label :password, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"", autocomplete: "new-password" %>
        </div>

        <div class="registration_new_content">
          <%= f.label :member, "推しメン" %><br />
          <%= f.text_field :member, id:"" %>
        </div>

        <div class="registration_new_content">
          <%= f.label :history, "おひさま歴" %><br />
          <%= f.text_field :history, id:"" %>
        </div>

        <div class="registration_new_content">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

