<h1>日向坂46出演情報</h1>
<% if user_signed_in? %>
  <div>
    <%= "ユーザー名"%>
    <%= link_to current_user.name, edit_user_path(current_user), class: "" %>
  </div>
  <div>
    <%= link_to 'ログアウトする', destroy_user_session_path, method: :delete, class: "" %>
  </div>
  <div>
    <%= link_to '投稿する', new_tweet_path, class: '' %>
  </div>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>


<% @tweets.each do |tweet| %>
  <div class="">
    <h4 class=''>
      <%= link_to tweet.days, tweet_path(tweet.id) %>
    </h4>

    <div class=''>
      <%= tweet.program %>
    </div class=''>

    <div class=''>
      <%= tweet.member.name %>
    </div class=''>

    <div class=''>
    <% if tweet.time.present? %>
      <%= tweet.time %>〜<%= tweet.endtime %>
    <% end %>
    </div class=''>

    <div class=''>
      <%= tweet.supplement %>
    </div class=''>
  </div>

<% end %>
