<div class ="all">
  <%= render "shared/header" %>
  <div class="main">
    <div class="top_page">
      <div class ="regular">
        <div class ="regular_image">
          <%=image_tag"fa7e3114044c3985db01403d09be72a8.png"%>
        </div>
        <div class ="regular_content">
          <div class ="regular_title">
            《レギュラー番組》
          </div>
          <div>　ひなちょい　　日向坂４６　月曜日　16:00〜16:30　　　さくらひなたのびラジ　日向坂４６　月曜日　20:05〜20:55</div>
          <div>　ラヴィット　　高本彩花　　火曜日　08:00〜10:00　　　レコメン！　　　　　　加藤史帆　　火曜日　23:45〜01:00</div>
          <div>　みえる　　　　佐々木久美　水曜日　21:00〜22:00　　　小坂なラジオ　　　　　小坂菜緒　　金曜日　19:30〜20:00</div>
          <div>　声春　　　　　日向坂４６　水曜日　00:59〜01:29　　　ベルク・余計な事まで　埼玉トリオ　金曜日　20:00〜20:30</div>
          <div>　キョコロヒー　齊藤京子　　水曜日　02:36〜02:56　　　アッパレやってまーす　齊藤京子　　土曜日　00:00〜01:00</div>
          <div>　ひな会い　　　日向坂４６　日曜日　01:05〜01:35　　　日向坂４６の「ひ」　　日向坂４６　日曜日　18:30〜19:00</div>
        </div>
      </div>
      <% @tweets.each do |tweet| %>
        <div class ="one_tweet">
          <div class = "days">
            <%= link_to tweet.days, tweet_path(tweet.id) %>
            <% case tweet.dayofweek_id %>
              <% when 1 then %>
                <div class = "week">月曜日</div>
              <% when 2 then %>
                <div class = "week">火曜日</div>
              <% when 3 then %>
                <div class = "week">水曜日</div>
              <% when 4 then %>
                <div class = "week">木曜日</div>
              <% when 5 then %>
                <div class = "week">金曜日</div>
              <% when 6 then %>
                <div class = "week">土曜日</div>
              <% when 7 then %>
                <div class = "week">日曜日</div>
            <% end %>
          </div>

          <div class="index_tweet">
            <div class='tweet_text'>
              <%= "出演：" %>
              <%= tweet.member.name %>
            </div>

            <div class='tweet_text'>
            <% if tweet.time.present? %>
              <% if tweet.endtime.present?%>
                <%= "時間：#{tweet.time}" %>〜<%= tweet.endtime %>
              <% else %>
                <%= "時間：#{tweet.time}" %>〜<%= "　　　"%>
              <% end %>
            <% else %>
              <%= "　　　　　　　　　　" %>
            <% end %>
            </div>

            <div class='tweet_text'>
              <%= "「#{tweet.program}」" %>
            </div>

            <div class='tweet_text'>
            <% if tweet.supplement.present? %>
              <%= "※#{tweet.supplement}" %>
            <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

    <div class="side-bar">
      <%= render "shared/side_bar" %>
    </div>

  </div>
  <%#= render "shared/footer" %>
</div>