<%= render "shared/header" %>
<div class ="new_main">
  <%= form_with model: @tweet, local: true do |f|%>

    <div class="new_days">
      <%= f.label :days, "日付" %><br />
      <%= f.date_field :days %>
    </div>

    <div class="new_week">
      <div class="">曜日</div>
      <%= f.select :dayofweek_id,[["月曜日",1],["火曜日",2],["水曜日",3],["木曜日",4],["金曜日",5],["土曜日",6],["日曜日",7]] %>
    </div>

    <div class="new_member">
      <div class="">メンバー名</div>
      <%= f.collection_select(:member_id, Member.all, :id, :name, {}, {class:"select-box", id:""}) %>
    </div>

    <div class="new_program">
      <%= f.label :program, "番組名・雑誌名・媒体名" %><br />
      <%= f.text_field :program, class: :form__text, id:"" %>
    </div>

    <div class="new_time">
      <%= f.label :time, "時間帯" %><br />
      <%= f.time_field :time %>〜<%= f.time_field :endtime %>
    </div>

    <div class="new_supplement">
      <%= f.label :supplement, "補足" %><br />
      <%= f.text_field :supplement, class: :form__text, id:"" %>
    </div>

    <div class="new_submit">
      <%= f.submit "投稿する", class: :form__btn  %>
    </div>
    <%= render 'shared/error_messages', model: f.object %>
  <% end %>
</div>

<%#= render "shared/footer" %>
