<div class='edit_user_main' id=''>
  <%= render "shared/header" %>
    <div class='edit_form'>
      <div class=''>
        <h2>アカウントの編集</h2>
        <%= form_with model: current_user, local: true do |f|%>
          <div class='edit_content'>
            <div class=''>
              <%= f.label :name, "ユーザー名"%>
            </div>
            <div class=''>
              <%= f.text_field :name, autofocus: true%>
            </div>
          </div>
          <div class='edit_content'>
            <div class=''>
              <%= f.label :email, "メールアドレス"%>
            </div>
            <div class=''>
              <%= f.email_field :email%>
            </div>
          </div>
          <div class='edit_content'>
            <div class=''>
              <%= f.label :member, "推しメン"%>
            </div>
            <div class=''>
              <%= f.text_field :member%>
            </div>
          </div>
          <div class='edit_content'>
            <div class=''>
              <%= f.label :history, "おひさま歴"%>
            </div>
            <div class=''>
              <%= f.text_field :history%>
            </div>
          </div>
          <div class='edit_content'>
            <%= f.submit "更新する", class: ''%>
          </div>
        <% end %>
      </div>
    </div>
  <%#= render "shared/footer" %>
</div>