<div class='' id=''>
  <div class=''>
    <div class=''>
      <h5>アカウントの編集</h5>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: ''%>
      <%= link_to "戻る", root_path, class: ''%>
    </div>
    <div class=''>
      <%= form_with model: current_user, local: true do |f|%>
        <div class=''>
          <div class=''>
            <%= f.label :name, "ユーザー名"%>
          </div>
          <div class=''>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class=''>
          <div class=''>
            <%= f.label :email, "メールアドレス"%>
          </div>
          <div class=''>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class=''>
          <div class=''>
            <%= f.label :member, "推しメン"%>
          </div>
          <div class=''>
            <%= f.text_field :member%>
          </div>
        </div>
        <div class=''>
          <div class=''>
            <%= f.label :history, "おひさま歴"%>
          </div>
          <div class=''>
            <%= f.text_field :history%>
          </div>
        </div>
        <div class=''>
          <%= f.submit "更新する", class: ''%>
        </div>
      <% end %>
    </div>
  </div>
</div>
