<div class="member_all">

  <%= render "shared/header" %>

  <div class="first_name">
    <h1 class="">
        日向坂46 一期生
    </h1>
  </div>

  <div class ="first">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/eb9/9c25286e85035c19d5ce162609411/400_320_102400.jpg"), ushio_tweets_path %>
      </div>
      <div class="profile_name">
        潮 紗理菜
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/4e2/4c53bb94afb84f7d070a0e1d48eb0/400_320_102400.jpg"), kageyama_tweets_path %>
      </div>
      <div class="profile_name">
        影山 優佳
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/2ce/45249d11fc5b16448be9c0cabb025/400_320_102400.jpg"), katou_tweets_path %>
      </div>
      <div class="profile_name">
        加藤 史帆
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/d66/9cfe7e97b476f5d8521a7672ff1c6/400_320_102400.jpg"), saitou_tweets_path %>
      </div>
      <div class="profile_name">
        齊藤 京子
      </div>
    </div>

  </div>
  <div class ="first_two">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/88b/f719d05b2bda4873f771462e99367/400_320_102400.jpg"), kumi_tweets_path %>
      </div>
      <div class="profile_name">
        佐々木久美
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/fa9/885bf0c7f5255111679a92ba806c5/400_320_102400.jpg"), mirei_tweets_path %>
      </div>
      <div class="profile_name">
        佐々木美玲
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/dd6/269ef97837d512cef5f6915498fb8/400_320_102400.jpg"), takase_tweets_path %>
      </div>
      <div class="profile_name">
        高瀬 愛奈
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/50d/67df17ee0203e033d8a9211e7f91b/400_320_102400.jpg"), takamoto_tweets_path %>
      </div>
      <div class="profile_name">
        高本 彩花
      </div>
    </div>

  </div>
  <div class ="first_three">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/388/00c38faca7d7ca65309ca98b7faec/400_320_102400.jpg"), higashimura_tweets_path %>
      </div>
      <div class="profile_name">
        東村 芽依
      </div>
    </div>

  </div>

  <div class="second_name">
    <h1 class="">
      日向坂46 二期生
    </h1>
  </div>

  <div class="second">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/63d/b1d8509a8569e3ae782aefd5cc09d/400_320_102400.jpg"), kanemura_tweets_path %>
      </div>
      <div class="profile_name">
        金村 美玖
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/5b1/731ff3e0e0b349201df9768638e6f/400_320_102400.jpg"), kawata_tweets_path %>
      </div>
      <div class="profile_name">
        河田 陽菜
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/24d/45f7445aac16aad1befba2c2ee36f/400_320_102400.jpg"), kosaka_tweets_path %>
      </div>
      <div class="profile_name">
        小坂 菜緒
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/8e5/9d47543a2950e22541c5d2c0d0612/400_320_102400.jpg"), tomita_tweets_path %>
      </div>
      <div class="profile_name">
        富田 鈴花
      </div>
    </div>

  </div>
  <div class ="second_two">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/b87/6ee64bac1891d599e4bac0f9edf7b/400_320_102400.jpg"), nibu_tweets_path %>
      </div>
      <div class="profile_name">
        丹生 明里
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/8a4/36bd4510f67e0c0cc7be806cb08d6/400_320_102400.jpg"), hamagishi_tweets_path %>
      </div>
      <div class="profile_name">
        濱岸 ひより
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/b91/a480618bfca7d2f7ece92dcf84715/400_320_102400.jpg"), matsuda_tweets_path %>
      </div>
      <div class="profile_name">
        松田 好花
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/eb4/006fab30d98f1c3345e8f33790f71/400_320_102400.jpg"), miyata_tweets_path %>
      </div>
      <div class="profile_name">
        宮田 愛萌
      </div>
    </div>

  </div>
  <div class ="second_three">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/fd7/2048d89a0a1f028fb8cbff253cba8/400_320_102400.jpg"), watanabe_tweets_path %>
      </div>
      <div class="profile_name">
        渡邉 美穂
      </div>
    </div>

  </div>

  <div class="third_name">
    <h1 class="">
      日向坂46 三期生
    </h1>
  </div>

  <div class ="third">

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/cf8/a6b6ee6cf204f3258a046340a262b/400_320_102400.jpg"), kamimura_tweets_path %>
      </div>
      <div class="profile_name">
        上村 ひなの
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/476/217d79b0390abc5e78d8cd6e10bed/400_320_102400.jpg"), takahashi_tweets_path %>
      </div>
      <div class="profile_name">
        髙橋 未来虹
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/519/b143a37b3f0cdfb74776507cfc1bb/400_320_102400.jpg"), morimoto_tweets_path %>
      </div>
      <div class="profile_name">
        森本 茉莉
      </div>
    </div>

    <div class ="individual">
      <div class="">
        <%= link_to image_tag("https://cdn.hinatazaka46.com/images/14/115/a1e9e622d269cd56e182f0328cc51/400_320_102400.jpg"), yamaguchi_tweets_path %>
      </div>
      <div class="profile_name">
        山口 陽世
      </div>
    </div>

  </div>

  <%#= render "shared/footer" %>

</div>